#page-teacher-list{
    width: 100vw;
    height: 100vh;
}

#search-teachers {
    margin-top: 3.2rem;
}

#search-teachers .input-button {
    display: grid;
    grid-template-columns: 6fr 1fr;
    column-gap: 16px;
}

#search-teachers .input-button button {
    border: 0;
    width: 50px;
    height: 50px;
    background: none;
    position: relative;
    bottom: -35px;
    border: 0;
}  

#search-teachers .input-button button img {
    width: 100%;
    background:  var(--color-input-background);
    border-radius: 25%;
    cursor: pointer;
    transition: background 0.2s;
}

#search-teachers .input-button button img:hover{
    background: var(--color-text-in-primary);
}

#search-teachers label {
    color: var(--color-text-in-primary);
}

#page-teacher-list main{
    margin: 3.2rem auto;
    width: 90%;
}

@media (min-width: 700px){
    #page-teacher-list{
        max-width: 100%;
    }

    #search-teachers {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        column-gap: 16px;
        position: absolute;
        bottom: -28px;
    }

    #search-teachers .input-button {
        display: grid;
        grid-template-columns: 6fr 1fr;
        column-gap: 16px;
    }

    #search-teachers .input-button button {
        border: 0;
        width: 50px;
        height: 50px;
        background: none;
        position: relative;
        bottom: -35px;
        border: 0;
    }  
    
    #search-teachers .input-button button img {
        width: 100%;
        background:  var(--color-input-background);
        border-radius: 25%;
        cursor: pointer;
        transition: background 0.2s;
    }

    #search-teachers .input-button button img:hover{
        background: var(--color-text-in-primary);
    }

    #search-teachers .input-block + .input-block,
    #search-teachers .select-block + .select-block {
        margin-top: 0;
    }

    #page-teacher-list main {
        padding: 3.2rem 0;
        max-width: 740px;
        margin: 0 auto;
    }

   
}